{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="headline">
	<h1>Add Schedule</h1>
</header>

<section class="form">
	<form id="form" action="/schedule/" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<button id="submit" type="submit" name="submit">Submit</button>
	</form>
</section>

{% endblock %}