{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="headline">
	<h1>Let me help you.</h1>
	<h2>I can build website.</h2>
</header>

<section class="about-section">
	<img src="{% static 'img/michaelsusanto-profile.png' %}" alt="Michael's Profile Picture" class="prof-pic">
	<article class="email">
		<a href="mailto:michael.susanto81@ui.ac.id">Email me</a>
	</article>		
</section>

{% endblock %}