{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
	<div class="bg-circle">
		<h1>Michael Susanto</h1>
		<h3>Web Developer</h3>
	</div>		
</header>

<section class="intro">
	<img src="{% static 'img/michaelsusanto-profile.png' %}" alt="Michael's Profile Picture" class="prof-pic">
	<h3>Hello!</h3>
	<h4>I'm a Junior Web Developer from</h4>
	<h4>Indonesia. I do design and develop</h4>
	<h4>web.</h4>
</section>

<section class="skills">
	<h3>I'm good at</h3>
	<div class="skills-layout">
		<ul class="left-skills">
			<li class="skill">
				<img src="{% static 'img/python-logo.png' %}" alt="Python's Logo">
				<h2>Python</h2>
			</li>
			<li class="skill">
				<img src="{% static 'img/html-logo.png' %}" alt="HTML's Logo">
				<h2>HTML</h2>
			</li>			
		</ul>
		<ul class="middle-skills">
			<li class="skill">
				<img src="{% static 'img/java-logo.png' %}" alt="Java's Logo">
				<h2>Java</h2>
			</li>			
			<li class="skill">
				<img src="{% static 'img/css-logo.png' %}" alt="CSS's Logo">
				<h2>CSS</h2>
			</li>			
		</ul>
		<ul class="right-skills">
			<li class="skill">
				<img src="{% static 'img/js-logo.png' %}" alt="JavaScript's Logo">
				<h2>JavaScript</h2>
			</li>
			<li class="skill">
				<img src="{% static 'img/ruby-logo.png' %}" alt="Ruby's Logo">
				<h2>Ruby</h2>
			</li>
		</ul>
	</div>			
</section>

{% endblock %}	