{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="headline">
	<img src="{% static 'img/michaelsusanto-profile.png' %}" alt="Michael's Profile Picture" class="prof-pic">
	<h1>Michael's Portfolio</h1>
	<h2>Here's what I have been to</h2>
</header>

<div class="portfolio-container">
	<section class="portfolio-section">
		<h2>Work</h2>
		<article class="portfolio-content">
			<img src="{% static 'img/teaching-assistant-logo.png' %}" alt="Teaching Assistant's Logo" class="portfolio-icon">
			<div class="portfolio-text">
				<h3>Undergraduate Teaching Assistant</h3>
				<h4>Programming Foundation 1 International Undergraduate</h4>
				<h4>at Faculty of Computer Science, Universitas Indonesia.</h4>
			</div>
		</article>
	</section>

	<section class="portfolio-section">
		<h2>Projects</h2>
		<article class="portfolio-content">
			<img src="{% static 'img/seapay-logo.png' %}" alt="Seapay's Logo" class="portfolio-icon">
			<div class="portfolio-text">
				<h3>SEA-PAY</h3>
				<h4>An online wallet mobile app. Built for Software</h4>
				<h4>Engineering Academy COMPFEST team's final project.</h4>
			</div>
		</article>
		<article class="portfolio-content">
			<a href="https://michaelsusanto81.github.io/RockPaperScissor/" target="_blank">
				<img src="{% static 'img/janken-logo.png' %}" alt="Rock-Paper-Scissors's logo" class="portfolio-icon">
			</a>
			<div class="portfolio-text">
				<h3>Rock Paper Scissors Game</h3>
				<h4>An online rock-paper-scissors game built by myself.</h4>
			</div>
		</article>
	</section>

	<section class="portfolio-section">
		<h2>Organizational</h2>
		<article class="portfolio-content">
			<img src="{% static 'img/weekend-logo.png' %}" alt="Weekend's Logo" class="portfolio-icon">
			<div class="portfolio-text">
				<h3>Weekend 2019 KUKSA Fasilkom UI</h3>
				<h4>An event that is a part of PMB Fasilkom UI 2019. I'm here</h4>
				<h4>as head of business funds and consumption.</h4>
			</div>
		</article>
	</section>
</div>

{% endblock %}