{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="headline">
	<h1>My Schedule</h1>
</header>

<section class="row justify-content-center">
	<div class="col-auto">
		<table class="table table-responsive">
			<tr>
				<td><b>Category</b></td>
				<td><b>Date</b></td>
				<td><b>Time</b></td>
				<td><b>Day</b></td>
				<td><b>Subject</b></td>
				<td><b>Location</b></td>
			</tr>
			{% for schedule in schedules %}
				<tr>
					<td>{{ schedule.category }}</td>
					<td>{{ schedule.date }}</td>
					<td>{{ schedule.hour }}</td>
					<td>{{ schedule.day }}</td>
					<td>{{ schedule.subject }}</td>
					<td>{{ schedule.location }}</td>
					<td><a href="/removeSchedule/{{ schedule.id }}">Remove</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<article class="email">
		<a href="/addSchedule/">Add Schedule</a>
	</article>
</section>

{% endblock %}